/* Style général de la page */
body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(135deg, #e8f0fe, #cfd8ff);
  color: #2c2c2c;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Styles de l'en-tête */
header {
  background: linear-gradient(90deg, #5c94ff, #a0c4ff, #d1e4ff);
  color: #1a1a1a;
  padding: 20px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
}

nav ul li a {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
}

nav ul li:hover {
  color: #5c94ff;
  transform: scale(1.1);
  text-shadow: 0 0 10px #5c94ff;
}

/* Texte "TOTAL" au-dessus du diagramme */
.chart-header {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
  text-align: center;
  margin-bottom: 10px;
}

/* Conteneur principal */
.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 20px;
  flex: 1;
}

/* Conteneur du diagramme circulaire */
.chart-container {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(92, 148, 255, 0.3);
  position: relative;
  transition: box-shadow 0.3s;
}

.chart-container:hover {
  box-shadow: 0 0 25px rgba(92, 148, 255, 0.7);
}

/* Conteneur du tableau */
.table-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(92, 148, 255, 0.3);
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s;
}

.table-container:hover {
  transform: scale(1.02);
}

/* Styles pour le tableau */
table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #a1a1a1;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #a0c4ff;
  color: #1a1a1a;
  font-family: 'Orbitron', sans-serif;
}

tr:hover td {
  background-color: #f0f8ff;
}

/* Pied de page */
footer {
  background-color: #5c94ff;
  color: #1a1a1a;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  width: 100%;
  margin-top: auto;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

/* Conteneur de la vidéo en direct */
.live-stream-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 15px rgba(92, 148, 255, 0.3);
  background-color: #ffffff;
  border-radius: 8px;
  width: 500px; /* Largeur de la vidéo */
  height: 300px; /* Hauteur de la vidéo */
  margin-top: 20px; /* Ajustement de l'espacement au-dessus */
}


/* Style pour les tableaux plus petits */
.table-container.small-table {
  width: 60%; /* Réduit la largeur du tableau */
  max-width: 900px;
  margin: 40px auto;
}
